/* sideNav */
.side-nav {
    margin-bottom: 1.2rem;
    background-color: #eeeeee!important;
}
input[type='checkbox'].toggle {
    display: none;
}
.lbl-toggle {
    display: block;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: left;
    padding: 1rem;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.15s ease-out;
}
.side-nav li{
    list-style-type: none;
}
.lbl-toggle::before {
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
    transition: transform .15s ease-out;
}
.toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}
.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .15s ease-in-out;
}
.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 100vh;
}
.toggle:checked + .lbl-toggle {
    font-size: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #eeeeee;
}
.collapsible-content .content-inner {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
}